<html lang="en-US">
<head>
    {% load static %}
    <meta charset='UTF-8'>
    <meta name='viewport' contetnt="width=device-width, initial-scale=1.0">
    <title>Remove Background</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    
</head>
<body>
    <nav>
        <h5>Background Remover</h5>
</nav>
    <section>
        <div class="hero">
            <h1>
                Welcome!<br>
                Remove Background without<br>
                Register and Signup.<br>
               <span> Free</span> and Secure.<br>
            </h1>
        </div>
        <div class="pic-input">
            <form method="post" enctype="multipart/form-data">
                <div class="form-data" id="form-data">
                {% csrf_token %}
                <label for="image-input" ><span id="select-image">Select Image</span></label>
                <h5>or paste <span id="url-input">URL</span></h5>
                
                <input type="file" id="image-input" accept="image/*" hidden>
                </div>
                <div class="preview" id="preview">
                    <div class="preview-btns" id="preview-btns">
                    <button id="download-btn">⬇</button>
                    <div id="cancel-btn">✕</div>
                    </div>
                    <div class="img-div" id="img-div">
                    <img src="#" id="preview-img">
                    </div>
                </div>
                <div class="ring-wrapper" id="ring-wrapper">
                    <div class="ring"></div>
                    </div>
            </form>
              <div class="both-images" id="both-images">
            <div class="orignal-img" id="orignal-img"><img src="{% static 'images/fakhir.jpg' %}" id="orignal-image"></div>
            <div class="processed-img" id="processed-img">
              <div class="image" id="image">  <img src="{% static 'images/fakhir.jpg' %}" id="processed-image"></div>
                 <div class="stars" id="stars">
                  <div class="star"></div>
                    <div class="star"></div>
                    <div class="star"></div>
                    <div class="star"></div>
                    <div class="star"></div>
                    <div class="star"></div>
                    </div>
              
            </div>
             
                  
        </div>
        
          
           
        </div>
        
            <div class="term-of-service"><p>By uploading an image or url you agree to our Terms Of Service.</p></div>

    </section>
    <footer>
        <div class="footer-icons">

        </div>
        <p>Terms of Service</p>
        <p>General Terms and Conditions</p>
        <p>Privacy Policy</p>
        <p>Cookie Policy</p>
        <p>@ BgRemover.com,Fakhir Masood</p>
    </footer>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>