body{
    display: flex;
    flex-direction: column;
    margin:0;
    padding: 0;
    min-height: 100dvh;
    font-family: Arial, Helvetica, sans-serif;
    gap:100px;
}

nav{
    height:50px;
    background:whitesmoke;
    border-radius: 20px;
}

section{
    height:auto;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap:100px;
    
}

footer{
    height:500px;
    background: whitesmoke;
    border-top-right-radius: 5%;
    border-top-left-radius: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero{
    display: flex;
    justify-content: center;
}
.hero span{
    background-color: blueviolet;
    border-radius: 20px;
    display: inline-block;
    text-align: center;
    width:80px;
}


.pic-input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.pic-input form{
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width:40%;
    height: 300px;
    border: solid 2px white;
    background: white;
    filter:drop-shadow(1px 1px 5px black);
    border-radius: 20px;
}


#select-image{
    background: blueviolet;
    display: flex;
    width:120px;
    justify-content: center;
    align-items: center;
    height:40px;
    border-radius: 50px;
}

#select-image:hover{
        filter:brightness(150%);
}

#url-input{
    width:fit-content;
    text-decoration: underline;
}

#url-input:hover{
    color:blue;
}


footer p{
    display: inline-block;
}

.form-data{
    width:fit-content;
    height: fit-content;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
   
}
.preview{
    box-sizing: border-box;
    position: absolute;
    height: 100%;
    width:100%;
    display:none;
    border-radius: 20px;

}

.preview img{
    width:100%;
    height: 100%;
    border-radius: 20px;
    z-index: 2;
}


.preview-btns{
    position: absolute;
    box-sizing: border-box;
    width:100%;
    padding-top: 1%;
    display: none;
    gap:10px;
    justify-content: flex-end;
    border-radius: 20px;

}
.preview-btns.show{
    display: flex;
}



#download-btn{
    background: rgba(255,255,255,0.6);
    width:10%;
    border:solid 1px white;
    height: 100%;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

}

#cancel-btn{
    background: rgba(255,255,255,0.6);
    width:10%;
    border:solid 1px white;
    height: 100%;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

#cancel-btn:hover{
    filter: drop-shadow(1px 1px 5px blue);
}

#download-btn:hover{
    filter: drop-shadow(1px 1px 5px blue);
}


.progress-container p{
    position: absolute;
}

.ring-wrapper{
    width:100%;
    height:100%;
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
}
.ring{
    width:100px;
    height:100px;
    border:solid 2px rgba(255,255,255,0);
    border-top: solid 2px blue;
    border-bottom: solid 2px blueviolet;
    border-radius: 100%;
    position: absolute;
    animation: rotate 2s linear infinite;
}

.both-images{
    display: none;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    gap:10px;
    width:30%;
    height:200px;
}

.orignal-img{
    width:50%;
    height:100%;
    border-radius: 20px;
    border:solid 2px blue;
}
.orignal-img:hover{
    filter:drop-shadow(2px 2px 5px black);
}

.processed-img{
    position: relative;
    width:50%;
    height:100%;
    border-radius:20px;
    border:solid 2px blue;
    display: block;
}

.image{
    filter:blur(10px);
}

.processed-img:hover{
    filter:drop-shadow(2px 2px 5px black);
}

.both-images img{
    width:100%;
    height:100%;
    border-radius: 20px;
}


  .star{
        width:20px;
        height:20px;
        background: yellow;
        clip-path: polygon(
        50% 0%,
        60% 30%,
        100% 50%,
        60% 70%,
        50% 100%,
        40% 70%,
        0% 50%,
        40% 30%,
        50% 0%
        );

        transform: rotate(50deg);
        animation:scale 2s linear infinite;

    }
.image{
    position: relative;
    
}
.stars{
    position: absolute;
    inset: 0;
    filter:brightness(120%);
    filter: drop-shadow(1px 1px 5px yellow);
}
.star:nth-child(1){
    position: relative;
    left:5%;

}

.star:nth-child(2){
    position: relative;
    left:50%;
    top:10%;
    animation-delay: 1.2s;
}

.star:nth-child(3){
    position: relative;
    left:70%;
    top:30%;
    animation-delay: 1.4s;
}

.star:nth-child(4){
    position: relative;
    left:30%;
    top:50%;
    animation-delay: 1.6s;
}

.star:nth-child(6){
    position: relative;
    top:20%;
    animation-delay: 1.8s;
    left:60%;
}

.loader-wrapper{
    box-sizing: border-box;
    width:50%;
    height: 100%;
    border-radius: 20px;
}

.img-div{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width:100%;
    height: 100%;
}


@keyframes rotate{
    to{
        transform: rotate(-360deg);
    }
}

@keyframes scale{
    to{
        opacity: 0;
        transform: scale(2);
    }
}
